
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }

  
  .menu-container {
    color: black;
    background-color: #ffffff; 
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }


  .menu {
      border: 1px solid #fff;
      display: flex;
      justify-content: flex-start;
      padding: 5px;
      margin: 0 5px;
      cursor: pointer; 
      align-items: center;
  
  }

  .sobre_google{
    margin: 0 10px 0 15px;
  }

  .botiga{
    margin-left: 0 0 0 15px;
   
  }
  .menu2 {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    min-width: 320px;

  }


  .gmail{
    align-self: center;
    width: 60px;
    text-decoration: none;
    cursor: pointer;


  }
  .gmail:hover {
    CURSOR: hand;
    TEXT-DECORATION: underline;
    }
     
.imatges{ 
    align-self: center;
    width: 75px;
}

.puntitos{
    align-self: center;
    width: 30px;
}
.inicia {
    color: #fff;
    font: 14px "Google Sans", Roboto;
    background: #1A73E8;
    margin: 9px 8px;
    padding: 9px 23px;
    border-radius: 5px;
    
  }

.google{
    width: auto;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 92px;
    margin-bottom: 20px;

  }

  .barra-buscadora {
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: #ffffff; 
    padding: 10px 10px;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    border-radius: 200px;
    width: 584px;
  
}

.buscador{
   display: flex;
   position: relative;
   width:700px;
   max-width:600px;
   min-width: 10px;
   padding: 3px 5px 0 10px;
}

.lupa{
  margin-left:1px;
  margin-top: 2px;

}
.teclat{
  margin-left:15px;
  margin-top: 10px;

}
.micro{
  margin-left:10px;
  margin-top: 2px;
}
.camara{
  margin-left:15px;
  margin-top: 2px;

}


.text_cerca{
  flex:100%; 
  min-width: 10px;
}

.debajo-barra {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.cerca-de-google {

  color: #3c4043;
  background: #fafaf8;
  margin: 0px 8px;
  padding: 9px 23px;
  align-self: center;
  border-radius: 5px;
}

.segur-que-tinc-sort {
  color: #3c4043;
  background: #f8f9fa;
  margin: 0px 8px;
  padding: 9px 23px;
  align-self: center;
  border-radius: 5px;

}

.disponible {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Google-disponible-en {
  color: #3c4043;
  display: inline-block;
  line-height: 28px;
  font-family: arial,sans-serif;
  font-size: small;
  text-align: center;
  margin-bottom: 150px;
}

.idiomas {
  padding-left: 6px;
  color: #1a0dab;
  font-size: small;
  text-align: center;
  cursor: pointer;
  align-items: center;
}


footer{
  margin-top: auto;
}

.barra-espanya{
  padding: 15px 30px;
  font-size: 15px;
  color: #70757a;
  background-color: rgb(242, 242, 242);
}

.espanya {
  font-family: arial,sans-serif;
}

.barra-final {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-origin: padding-box;
  background-color: rgb(242, 242, 242);
  font-size: 15px;
}


.informacio {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.publicitat {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.empresa {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.funcionament {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.barra-final2 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 46px;
}

.privadesa {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.condicions {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.configuracio {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}