
.cuadrat {
    position: absolute; /* Fa que la posicio sigui absoluta a l'espai que te*/
    width: 160px;           /* Amplada del cuadrad 160px */
    height: 120px;          /* Altura del cuadrad 120px  */
    background: rgb(85, 212, 56);        /* Fons de color verd */
    border: 1px solid #000; /* Vora negra d'un pixel */
    margin-left: 100px;  /* Posa els marges */
    margin-top: 140px; 

    

  }
  
.cuadrat2 {
    position: relative; /* Fa que la posicio sigui relativa a l'espai que te*/
    width: 40px;           
    height: 40px;         
    background: rgb(195, 22, 22);       
    border: 1px solid #000; 
    margin-left: 100px;
    margin-top: 60px;
    }
    
.cuadrat3 {
    position: absolute;
    width: 160px;           
    height: 120px;          
    background: rgb(206, 255, 47);        
    border: 1px solid #000; 
    margin-left: 20px;
    margin-top: 40px;
    
  }
  
.cuadrat4 {
    position: relative;
    width: 40px;          
    height: 40px;          
    background: rgb(0, 38, 229);        
    border: 1px solid #000;
    left: 20px;
    margin-top: 20px;
    }